<header>
  <div class="header-container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="#about" class="link link-scroll">About Me</a>
        </li>
        <li class="nav-list-item">
          <a href="#skills-tools" class="link link-scroll">Skills & Tools</a>
        </li>
        <li class="nav-list-item">
          <a href="#projects" class="link link-scroll">Projects</a>
        </li>
        <li class="nav-list-item">
          <a href="#contact" class="link link-scroll">Contact</a>
        </li>
        <li class="nav-list-item">
          <a
            href="/src/assets/docs/Bryan_Turner-cv-10-7-22.pdf"
            class="btn btn-primary nav-btn br-8"
            target="_blank"
            >Resume</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
