<div class="hero">
  <div class="hero-container center-section">
    <div class="hero-grid">
      <div class="hero-text-container">
        <img
          src="../../../assets/images/background-circle.png"
          alt="background circle design"
          class="hero-circle-sm background-circle"
        />
        <img
          src="../../../assets/images/background-circle.png"
          alt="background circle design"
          class="hero-circle-md background-circle"
        />
        <img
          src="../../../assets/images/background-circle.png"
          alt="background circle design"
          class="hero-circle-lg background-circle"
        />
        <div class="hero-heading-text">
          <h1 class="hero-heading">
            I'm Bryan Turner, <br />
            a
            <span class="hero-span">Full Stack Developer</span>
          </h1>
          <p class="hero-subheading">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia,
            suscipit? Ullam amet veritatis laboriosam temporibus, molestiae
            fugit reiciendis
          </p>
        </div>
        <a href="#projects" class="btn btn-primary hero-btn link-scroll"
          >View my work</a
        >
      </div>

      <div class="hero-image-wrapper">
        <img
          class="hero-dots-mid"
          src="../../../assets/images/dots.png"
          alt="background dots design"
        />
        <img
          class="hero-dots-bot"
          src="../../../assets/images/dots.png"
          alt="background dots design"
        />
        <img
          class="hero-image"
          src="../../../assets/images/prof-parrots.png"
          alt="Image of Bryan Turner"
        />
      </div>
    </div>
  </div>
</div>
